.last-child {
  padding-right: 0 !important;
  border-right: 0 !important;
  margin-right: 0 !important;
}

.last-child_bottom {
  padding-bottom: 0 !important;
  border: 0 !important;
  margin: 0 !important;
}

.gradient {
  position: relative;
}

.gradient::before {
  content: '';
  position: absolute;
  top: 60%;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  z-index: 0;
}

@media screen and (max-width: 750px) {
  .gradient::before {
    top: 0;
  }
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 0.625rem;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #fbfbfb;
}

input::-ms-clear {
  display: none;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

.conteiner {
  height: inherit;
  min-height: inherit;
  max-height: inherit;
  max-width: 117rem;
  min-width: 29rem;
  margin: 0 auto;
}

@media screen and (max-width: 75em) {
  .conteiner {
    margin: 0 1.5rem;
  }
}

@font-face {
  font-family: 'Metropolis-SemiBold';
  src: url("../fonts/Metropolis-SemiBold.eot");
  src: url("../fonts/Metropolis-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Metropolis-SemiBold.woff2") format("woff2"), url("../fonts/Metropolis-SemiBold.woff") format("woff"), url("../fonts/Metropolis-SemiBold.ttf") format("truetype"), url("../fonts/Metropolis-SemiBold.svg#Metropolis-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
}

.social-networks {
  -webkit-box-flex: 0;
      -ms-flex: 0 3 auto;
          flex: 0 3 auto;
  min-width: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  list-style: none;
}

.social-networks__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 0;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-left: 1rem;
}

@media screen and (max-width: 30em) {
  .social-networks__item {
    margin-left: 0.4rem;
  }
}

.social-networks__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 0;
  text-decoration: none;
  padding: 0 1rem;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.social-networks__link:hover {
  border-bottom: 0.2rem solid #cecece;
}

.social-networks__link:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  margin-bottom: -0.2rem;
}

@media screen and (max-width: 30em) {
  .social-networks__link {
    padding: 0 0.6rem;
  }
}

.social-networks__icon {
  height: 1.4rem;
  min-width: 1rem;
}

.logo {
  display: inline-block;
  height: 6rem;
  margin-right: 10rem;
}

@media screen and (max-width: 40em) {
  .logo {
    display: none;
  }
}

.logo__img {
  height: 100%;
}

.burger-button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: none;
  height: 4.5rem;
  width: 4.5rem;
  background-color: #fff;
  border: 0.2rem solid #e7e7e7;
}

@media screen and (max-width: 40em) {
  .burger-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.burger-button__line {
  height: 0.3rem;
  width: 2rem;
  background-color: #e7e7e7;
  margin-bottom: 0.4rem;
}

.burger-button__line:last-child {
  margin: 0;
}

.burger-button_margin {
  margin-right: 2rem;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.section__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 5rem;
  font-family: "Metropolis-SemiBold";
  background-color: #fff;
  padding-left: 3rem;
  border: 0.1rem solid #e7e7e7;
  border-left: 0.7rem solid #ed1c24;
  margin-bottom: 1rem;
}

.section__title {
  font-size: 1.8rem;
  text-transform: uppercase;
}

.section__header-list {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

@media screen and (max-width: 750px) {
  .section__header-list {
    display: none;
  }
}

.section__header-item {
  font-size: 1.6rem;
  margin-right: 2.5rem;
}

.section__header-item:hover .section__link {
  border-bottom: 0.2rem solid #cecece;
}

.section__header-item:hover .section__link span {
  margin-bottom: -0.2rem;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.section__header-item_active {
  color: #ed1c24;
}

.section__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  text-decoration: none;
  color: inherit;
  padding: 0 0.5rem;
}

.section__content {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0 1rem 0.7rem rgba(33, 30, 31, 0.07);
          box-shadow: 0 1rem 0.7rem rgba(33, 30, 31, 0.07);
}

.section__img-wrapper {
  position: relative;
  display: block;
  height: 100%;
}

.section__img-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  background-color: #000;
  opacity: 0.1;
}

.section__img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section__item:hover {
  background-color: #f2f2f2;
}

.section__item:hover .section__img-wrapper::before {
  display: block;
}

.section__item:hover .section__title-link {
  text-decoration: underline;
}

.section__title-link {
  color: #000;
  text-decoration: none;
}

.item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Alegreya;
  font-style: italic;
  font-size: 1.6rem;
  line-height: 1.8rem;
  color: #8c8c8c;
}

.item-info__name {
  color: #ed1c24;
  margin-right: 0.3rem;
}

.item-info__coments {
  margin-left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-info__coments::before {
  content: '';
  display: inline-block;
  height: 1.8rem;
  width: 1.8rem;
  background-image: url(../img/coments.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 0.3rem;
}

.item-info__review {
  margin-left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-info__review::before {
  content: '';
  display: inline-block;
  height: 1.4rem;
  width: 1.4rem;
  background-image: url(../img/eye.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 0.3rem;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rating__text {
  font-family: "Metropolis-SemiBold";
  font-size: 1.4rem;
}

.rating__block {
  position: relative;
  width: 9rem;
  height: 2.5rem;
  background-color: #e7e7e7;
}

.rating__block-active {
  position: absolute;
  top: 0;
  right: 40%;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ed1c24;
}

.rating__block-active span {
  color: #fff;
  font-family: "Metropolis-SemiBold";
  font-size: 1.5rem;
  letter-spacing: -0.042rem;
}

.list {
  width: 100%;
  list-style: none;
  padding: 2rem 0;
}

.list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 11rem;
  padding: 1rem 2rem;
  border-bottom: 0.2rem solid #e7e7e7;
}

.list__item:last-child {
  border-bottom: 0;
}

.list__img-wrapper {
  margin-right: 1rem;
  max-width: 10.8rem;
}

.list__img {
  height: 100%;
}

.list__title {
  max-width: 60%;
  font-family: "Metropolis-SemiBold";
  font-size: 1.6rem;
  line-height: 1.8rem;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  min-height: 3.6rem;
  font-size: 1.3rem;
  border-bottom: 0.1rem solid #e7e7e7;
  margin-top: 1.6rem;
}

@media screen and (max-width: 40em) {
  .header__top {
    margin-top: 1rem;
  }
}

.header__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #8c8c8c;
  margin-right: 3.6rem;
}

@media screen and (max-width: 40em) {
  .header__time {
    display: none;
  }
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 14rem;
          flex: 1 1 14rem;
}

@media screen and (max-width: 30em) {
  .header__buttons {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 12rem;
            flex: 1 1 12rem;
  }
}

.header__subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #ed1c24;
  padding-left: 1.4rem;
}

.header__subscribe:hover {
  border-bottom: 0.2rem solid #cecece;
}

.header__subscribe:hover span {
  margin-bottom: -0.2rem;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header__subscribe:hover::after {
  margin-bottom: -0.2rem;
}

.header__subscribe::after {
  content: '';
  display: inline-block;
  height: 1.6rem;
  width: 0.2rem;
  background-color: #8c9090;
  margin-left: 1.5rem;
}

@media screen and (max-width: 40em) {
  .header__subscribe::after {
    display: none;
  }
}

.header__sign-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #8c8c8c;
  text-decoration: none;
  padding: 0 1.4rem;
}

.header__sign-in:hover {
  border-bottom: 0.2rem solid #cecece;
}

.header__sign-in:hover span {
  margin-bottom: -0.2rem;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 0 2.2rem;
}

@media screen and (max-width: 40em) {
  .header__navbar {
    padding: 2rem 0;
  }
}

.header__search-wrapper {
  position: relative;
  height: 6.5rem;
  width: 73rem;
}

@media screen and (max-width: 40em) {
  .header__search-wrapper {
    height: 4.5rem;
  }
}

.header__search-wrapper::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 2rem;
  display: inline-block;
  height: 2.5rem;
  width: 2.5rem;
  background-image: url(../img/magnifier.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (max-width: 40em) {
  .header__search-wrapper::after {
    height: 2rem;
    width: 2rem;
  }
}

.header__search {
  height: 100%;
  width: 100%;
  padding-left: 3.5rem;
  font-size: 2rem;
  letter-spacing: 0.128rem;
  color: #8c8c8c;
  border: 0.2rem solid #e7e7e7;
}

.header__search:hover {
  border-color: #cecece;
}

.header__search::-ms-clear {
  display: none;
}

.header__search::-webkit-clear {
  display: none;
}

.header__search::-webkit-input-placeholder {
  color: #e7e7e7;
}

.header__search:-ms-input-placeholder {
  color: #e7e7e7;
}

.header__search::-ms-input-placeholder {
  color: #e7e7e7;
}

.header__search::placeholder {
  color: #e7e7e7;
}

.menu {
  min-height: 7.3rem;
  background-color: #fff;
  -webkit-box-shadow: -1.7rem 0.6rem 1.3rem rgba(33, 30, 31, 0.09);
          box-shadow: -1.7rem 0.6rem 1.3rem rgba(33, 30, 31, 0.09);
}

@media screen and (max-width: 40em) {
  .menu {
    display: none;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  min-height: inherit;
  list-style: none;
}

.menu__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-height: inherit;
}

.menu__item:hover {
  background-color: #f2f2f2;
}

.menu__item_home {
  position: relative;
}

.menu__item_home::before {
  content: '';
  position: absolute;
  top: 50%;
  height: 2.4rem;
  width: 2.4rem;
  background-image: url(../img/home.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-left: 1rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #000;
}

.menu__link span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 5.5rem;
  width: 100%;
  font-family: "Metropolis-SemiBold";
  font-size: 1.3rem;
  letter-spacing: 0.181rem;
  text-align: center;
  text-transform: uppercase;
  border-right: 0.1rem solid #e7e7e7;
  padding: 0 1rem;
}

@media screen and (max-width: 47.5em) {
  .menu__link span {
    padding-right: 1rem;
    font-size: 1rem;
  }
}

.menu__link_active {
  color: #ed1c24;
  padding-left: 3rem;
}

.content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 7fr minmax(34rem, 3fr);
      grid-template-columns: 7fr minmax(34rem, 3fr);
  grid-auto-flow: dense;
  grid-gap: 4rem 3rem;
  padding: 2.4rem 0 6rem;
}

@media screen and (max-width: 1170px) {
  .content {
    -ms-grid-columns: (minmax(0, 1fr))[2];
        grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.first-section {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 2.2rem;
  list-style: none;
}

@media screen and (max-width: 1000px) {
  .first-section {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 750px) {
  .first-section {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
}

.first-section__item {
  height: 46rem;
  overflow: hidden;
}

@media screen and (max-width: 1000px) {
  .first-section__item {
    height: 23rem;
  }
}

@media screen and (max-width: 750px) {
  .first-section__item {
    height: 12rem;
  }
}

.first-section__item:hover .first-section__link > * {
  text-shadow: 0rem 0.5rem 1rem #333;
  -webkit-transform: translateY(-2rem);
          transform: translateY(-2rem);
}

@media screen and (max-width: 750px) {
  .first-section__item:hover .first-section__link > * {
    -webkit-transform: none;
            transform: none;
  }
}

.first-section__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
  width: 100%;
  color: #fff;
  text-decoration: none;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1.6rem 0 1.6rem 2rem;
}

.first-section__link > * {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 1;
}

.first-section__title {
  font-family: "Metropolis-SemiBold";
  font-size: 2rem;
  margin-bottom: 2.8rem;
}

@media screen and (max-width: 750px) {
  .first-section__title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

.first-section__info {
  color: #fff;
}

.first-section__coments::before {
  background-image: url(../img/coments-light.svg);
}

@media screen and (max-width: 750px) {
  .first-section__link_bg-one {
    background-position: 50% 10%;
  }
}

.no-webp .first-section__link_bg-one {
  background-image: url(../img/content/first-section/img-1.jpg);
}

.webp .first-section__link_bg-one {
  background-image: url(../img/content/first-section/img-1.webp);
}

.no-webp .first-section__link_bg-two {
  background-image: url(../img/content/first-section/img-2.jpg);
  background-position: center right;
}

.webp .first-section__link_bg-two {
  background-image: url(../img/content/first-section/img-2.webp);
  background-position: center right;
}

.no-webp .first-section__link_bg-three {
  background-image: url(../img/content/first-section/img-3.jpg);
}

.webp .first-section__link_bg-three {
  background-image: url(../img/content/first-section/img-3.webp);
}

.no-webp .first-section__link_bg-four {
  background-image: url(../img/content/first-section/img-4.jpg);
  background-position: 70% 50%;
}

.webp .first-section__link_bg-four {
  background-image: url(../img/content/first-section/img-4.webp);
  background-position: 70% 50%;
}

.information {
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media screen and (max-width: 1170px) {
  .information {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}

.information__content {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[2];
      grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 2.5rem;
}

@media screen and (max-width: 1170px) {
  .information__content {
    grid-gap: 3rem;
  }
}

.information__item {
  background-color: #fff;
  -webkit-box-shadow: 0 1rem 0.7rem rgba(33, 30, 31, 0.07);
          box-shadow: 0 1rem 0.7rem rgba(33, 30, 31, 0.07);
}

@media screen and (max-width: 750px) {
  .information__item {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}

.information__img-wrapper {
  height: 28rem;
}

.information__img {
  -o-object-position: 50% 0;
     object-position: 50% 0;
}

.information__text {
  padding: 2rem 3rem;
}

.information__title {
  font-family: "Metropolis-SemiBold";
  font-size: 2.2rem;
  line-height: 3.3rem;
  margin-bottom: 1rem;
}

.information__info {
  font-family: Roboto;
  text-transform: uppercase;
  font-style: normal;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.information__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.information__time::before {
  content: '';
  display: inline-block;
  height: 1.2rem;
  width: 1.2rem;
  background-image: url(../img/clock.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 0.3rem;
}

.information__coments ::before {
  height: 1.5rem;
  width: 1.5rem;
}

.information__desc {
  color: #8c8c8c;
  font-size: 1.4rem;
  line-height: 2.5rem;
}

@media screen and (max-width: 750px) {
  .news {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}

@media screen and (max-width: 1170px) {
  .reviews {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}

.reviews__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.reviews__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding: 2rem 3rem;
  border-right: 0.2rem solid #e7e7e7;
}

.reviews__item:last-child {
  border-right: none;
}

@media screen and (max-width: 750px) {
  .reviews__item:last-child {
    display: none;
  }
}

.reviews__title {
  font-family: "Metropolis-SemiBold";
  font-size: 1.8rem;
  line-height: 2.6rem;
  margin-bottom: 0.5rem;
}

.reviews__info {
  margin-bottom: 1rem;
}

.reviews__rating {
  margin-bottom: 2rem;
}

.reviews__img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews__img {
  height: 20rem;
}

.top-reviews__img-wrapper {
  margin-right: 3rem;
}

@media screen and (max-width: 750px) {
  .top-reviews {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}

@media screen and (max-width: 750px) {
  .about {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}

.about__content {
  padding: 4rem 3rem;
}

.about__content:hover {
  background-color: #f2f2f2;
}

.about__text {
  color: #8c8c8c;
  font-size: 1.4rem;
  line-height: 2.6rem;
  margin-bottom: 1.3rem;
}

.about__text:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 750px) {
  .our-contributor {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}

.interestingly {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.interestingly__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  list-style: none;
}

@media screen and (max-width: 1000px) {
  .interestingly__content {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.interestingly__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding: 0 3rem 1.5rem;
  border-right: 0.2rem solid #e7e7e7;
}

@media screen and (max-width: 1000px) {
  .interestingly__item {
    padding: 1.5rem 3rem;
  }
}

.interestingly__item:last-child {
  border-right: none;
}

.interestingly__img-wrapper {
  margin-bottom: 1.8rem;
}

.interestingly__img {
  width: 100%;
}

.interestingly__title {
  font-family: "Metropolis-SemiBold";
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

.interestingly__text {
  color: #8c8c8c;
  font-size: 1.4rem;
  line-height: 2.2rem;
}

.postscript {
  -webkit-box-shadow: 0 -1rem 0.7rem rgba(33, 30, 31, 0.07);
          box-shadow: 0 -1rem 0.7rem rgba(33, 30, 31, 0.07);
}

.postscript__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6rem;
}

@media screen and (max-width: 750px) {
  .postscript__content {
    padding: 3rem;
  }
}

.postscript__text {
  font-size: 1.4rem;
  color: #8c8c8c;
  text-align: center;
  line-height: 2.7rem;
}
/*# sourceMappingURL=style.css.map */