.burger-button
	flex: 0 0 auto
	display: none
	height: 4.5rem
	width: 4.5rem
	background-color: $bg-light
	border: 0.2rem solid $border-color
	cursor: pointer

	&:hover
		border-color: darken($border-color,10%)

		.burger-button__line,
		.burger-button__line::before,
		.burger-button__line::after,
			background-color: darken($border-color,10%)

	@media screen and (max-width: 40em)
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center

	&__line
		position: absolute
		height: 0.3rem
		width: 2rem
		background-color: $border-color

		&::before
			position: absolute
			top: -0.8rem
			left: 0
			content: ''
			display: inline-block
			height: 0.3rem
			width: 2rem
			background-color: $border-color

		&::after
			position: absolute
			left: 0
			bottom: -0.8rem
			content: ''
			display: inline-block
			height: 0.3rem
			width: 2rem
			background-color: $border-color

.burger-button_margin
	margin-right: 2rem