.section
	
	&__header
		display: flex
		justify-content: space-between
		align-items: center
		min-height: 5rem
		font-family: "Metropolis-SemiBold"
		background-color: $bg-light
		padding-left: 3rem
		border: 0.1rem solid $border-color
		border-left: 0.7rem solid $active-color
		margin-bottom: 1rem

	&__title
		font-size: 1.8rem
		text-transform: uppercase

	&__list
		align-self: stretch
		display: flex
		list-style: none

	&__text
		font-size: 1.6rem
		margin-right: 2.5rem

	&__text_active
		color: $active-color

	&__link
		display: flex
		align-items: center
		height: 100%
		text-decoration: none
		color: inherit
		padding: 0 0.5rem

	&__content
		background-color: $bg-light
		box-shadow: 0 1rem 0.7rem rgba(33, 30, 31, 0.07)