.header
	&__top
		display: flex
		justify-content: space-between
		align-items: stretch
		min-height: 3.6rem
		font-size: 1.3rem
		border-bottom: 0.1rem solid $border-color 
		margin-top: 1.6rem

		@media screen and (max-width: 40em)
			margin-top: 1rem

	&__time
		display: flex
		align-items: center
		color: $text-color
		margin-right: 3.6rem

		@media screen and (max-width: 40em)
			display: none

	&__buttons
		display: flex
		align-items: stretch
		flex: 1 1 14rem

		@media screen and (max-width: 30em)
			flex: 1 1 12rem

	&__subscribe
		display: flex
		align-items: center
		text-decoration: none
		color: $active-color
		padding-left: 1.4rem

		&:hover 
			border-bottom: 0.2rem solid darken($border-color,10%)			

			span
				margin-bottom: -0.2rem
				transform: scale(1.1)

			&::after
				margin-bottom: -0.2rem

		&::after
			content: ''
			display: inline-block
			height: 1.6rem
			width: 0.2rem
			background-color: #8c9090
			margin-left: 1.5rem

			@media screen and (max-width: 40em)
				display: none

	&__sign-in
		display: flex
		align-items: center
		color: $text-color
		text-decoration: none
		padding: 0 1.4rem

		&:hover
			border-bottom: 0.2rem solid darken($border-color,10%)			

			span
				margin-bottom: -0.2rem
				transform: scale(1.1)

	&__navbar
		display: flex
		justify-content: space-between
		align-items: center
		padding: 3rem 0 2.2rem

		@media screen and (max-width: 40em)
			padding: 2rem 0

	&__search-wrapper
		position: relative
		height: 6.5rem
		width: 73rem

		@media screen and (max-width: 40em)
			height: 4.5rem

		&::after
			content: ''
			position: absolute
			top: 50%
			right: 2rem
			display: inline-block
			height: 2.5rem
			width: 2.5rem
			background-image: url(../img/magnifier.svg)
			background-repeat: no-repeat
			background-size: contain
			background-position: center
			transform: translateY(-50%)

			@media screen and (max-width: 40em)
				height: 2rem
				width: 2rem

	&__search
		height: 100%
		width: 100%
		padding-left: 3.5rem
		font-size: 2rem
		letter-spacing: 0.128rem
		color: $text-color
		border: 0.2rem solid $border-color

		&:hover
			border-color: darken($border-color,10%)

		&::-ms-clear
			display: none

		&::-webkit-clear
			display: none

		&::placeholder
			color: $border-color