.menu
	min-height: 7.3rem
	background-color: $bg-light
	box-shadow: -1.7rem 0.6rem 1.3rem rgba(33, 30, 31, 0.09)

	@media screen and (max-width: 40em)
		display: none

	&__list
		display: flex
		align-items: stretch
		justify-content: space-between
		min-height: inherit
		list-style: none

	&__item
		display: flex
		align-items: stretch
		min-height: inherit

	&__item_home
		flex: 0 0 auto

		&::before
			content: ''
			flex: 0 0 auto
			display: inline-block
			align-self: center
			height: 2.4rem
			width: 2.4rem
			background-image: url(../img/home.svg)
			background-repeat: no-repeat
			background-position: center
			background-size: contain
			margin-right: 1rem

	&__link
		display: flex
		align-items: center
		text-decoration: none
		color: #000

		span
			display: flex
			align-items: center
			height: 5.5rem
			font-family: "Metropolis-SemiBold"
			font-size: 1.3rem
			letter-spacing: 0.181rem
			text-transform: uppercase
			text-align: center
			padding-right: 2rem
			border-right: 0.1rem solid $border-color
			margin-right: 1rem

			@media screen and (max-width: 47.5em)
				padding-right: 1rem
				font-size: 1rem

	&__link_active
		color: $cherry
		flex: 1 0 auto